/* styles.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: url('background-wood.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    background-color: #8B4513; /* Καφέ background */
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #8B4513;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #8B4513;
}

header a {
    color: #8B4513;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9em;
    padding: 5px 8px;
    border: 2px solid #8B4513;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

header a:hover {
    color: #D2691E;
    background-color: rgba(255, 255, 255, 1);
}

header a.active {
    background-color: #D2691E;
    color: #fff;
}

hr {
    border: 1px solid #8B4513;
    width: 80%;
}

main {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    color: #8B4513;
    text-align: center;
    border-bottom: 2px solid #8B4513;
    padding-bottom: 10px;
}

.menu-items-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    text-align: center;
    margin-bottom: 20px;
    width: 30%;
}

.menu-item h2 {
    color: #D2691E;
    margin-bottom: 10px;
}

/* styles.css */

/* Άλλαξε το ύψος των εικόνων σε όλα τα .menu-item img για να είναι ίδιο με την img.2 */
.menu-item img {
    border: 2px solid #8B4513;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 450px; /* Κράτα το ίδιο πλάτος με την img.2 */
    max-height: 300px; /* Ρύθμισε το ύψος αναλογικά με την img.2 */
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.menu-item p {
    margin-top: 10px;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #8B4513;
    border-top: 2px solid #8B4513;
    width: 100%;
    margin-top: auto; /* ensures footer stays at bottom */
}
